* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

header {
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/Polígonos\ colorido.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Mochiy Pop P One', sans-serif;
  width: 100%;
  padding: 20px 20px;
  /* position: fixed; */
  
}

header nav {
  margin-right: 30px;
}

h1 {
  opacity: 1;
  padding: 0 10px;
  font-size: 45px;
  color: white;
  margin-left: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

a:hover {
  opacity: 1;
  font-weight: bolder
}

a:visited,
a:hover,
a:active {
  color: white;
}

